.category-bar {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 24px;
  background-color: #2f2e33; /* light grey background */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  position: sticky;
  /* top: 64px; */
  z-index: 999;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
  border-bottom: 1px solid #ddd;
  max-height: 20px;
}

.category-bar::-webkit-scrollbar {
  display: none;
}

.category-bar button {
  background-color: #2f2e33;
  color: #ece0e0;
  border: 1px solid #2f2e33;
  border-radius: 20px;
  padding: 8px 18px;
  font-size: 0.95rem;
  font-weight: 800;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.category-bar button:hover {
  background-color: #e0e0e0; /* darker grey on hover */
  color: #000;
  transform: translateY(-1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.category-bar button.active {
  background-color: #504949; /* active is also grey now */
  color: #111;
  border-color: #575050;
  box-shadow: inset 0 0 0 1px #ffffff;
}
